---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Director de Programación y Desarrollo",
    company: "Creating Chair Studios",
    description:
      "Responsable de la dirección técnica y estratégica de proyectos de desarrollo de videojuegos, liderando un equipo de desarrolladores.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
